<%- include layouts/header.ejs %>



<table cellpadding="1" cellspacing="1">
    <tbody>
    <tr>
        <td>
                    <p>Update Date Status.</p>
                    <select class="select" id="s_user" name="user">
                        <% if(users.length){%>
                        <option id=default">Select name</option>
                            <% for(var i = 0;i < users.length;i++) { %>
                                <% if(req.session.admin == 'N'){ %>
                                    <% if(req.session.user == users[i].id){ %>
                                    <option id="user_<%=users[i].id%>"><%=users[i].name+' '+users[i].sname%></option>
                                    <%}%>

                                <%} else {%>
                                    <option id="user_<%=users[i].id%>"><%=users[i].name+' '+users[i].sname%></option>
                                <%}%>

                        <% }
                        }else{ %>
                        <option value="nouser">no user</option>
                        <% } %>
                    </select>

                    <select class="select" id="leave_type" name="date">
                        <option value="HalfDay Leave na">Half-Day Leave(NA)</option>
                        <option value="Leave na">Leave(NA)</option>
                        <option value="Vacation na">Vacation(NA)</option>
                    <% if(req.session.admin == 'Y'){ %>
                        <option value="Holiday">Holiday</option>
                        <option value="HalfDay Leave">Half-Day Leave</option>
                        <option value="Leave">Leave</option>
                        <option value="Vacation">Vacation</option>
                    <%}%>
                    </select>
                    <input class="select" type="date" id="date" name="status" />&nbsp;
                    <p align="right"><button id="b_update" class="a-inside edit">Update</button></p>
        </td>
        <td>
                    <p>Get Information for period.</p></br>
                    <input class="select" type="date" id="s_status" name="status" /></br>
                    <select class="select" id="team" name="team">
                        <option value="HalfDay Leave na">Team</option>
                    <% if(req.session.admin == 'Y'){ %>
                        <option value="Holiday">Any</option>
                    <%}%>
                    </select>
                   <button id="b_show" class="a-inside edit">Show</button>
        </td>
    </tr>
    </tbody>
</table>
<table id="calendar" class="table_calendar"></table>

<form class="page-container" name="period_results">

</form>



</body>
<script>
    window.onload = function() {
        calendar();
    }
</script>
</html>