<%- include layouts/header.ejs %>
<head>
    <script type="text/javascript"  src="/js/calendar.js"></script>
    <script src="/vendor/jquery.contextmenu.r2.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/jquery.contextMenu.css">
</head>


<table width="80%">
    <tbody>
    <tr team="na">
        <td valign="top" class="td-border">
                    <p>Update Date Status.</p>
                    <select class="select" id="s_user" name="user">
                        <% if(users.length){%>
                        <option id=default">Select name</option>
                            <% for(var i = 0;i < users.length;i++) { %>
                                <% if(req.session.admin == 'N'){ %>
                                    <% if(req.session.user == users[i].id){ %>
                                    <option id="user_<%=users[i].id%>"><%=users[i].name+' '+users[i].sname%></option>
                                    <%}%>

                                <%} else {%>
                                    <option id="user_<%=users[i].id%>"><%=users[i].name+' '+users[i].sname%></option>
                                <%}%>

                        <% }
                        }else{ %>
                        <option value="nouser">no user</option>
                        <% } %>
                    </select>

                    <select class="select" id="leave_type" name="date">
                        <option value="HalfDay Leave na">Half-Day Leave(NA)</option>
                        <option value="Leave na">Leave(NA)</option>
                        <option value="Vacation na">Vacation(NA)</option>
                        <option value="L3 Leave">L3 Leave</option>
                    <% if(req.session.admin == 'SA'){ %>
                        <option value="Holiday">Holiday</option>
                        <option value="HalfDay Leave">Half-Day Leave</option>
                        <option value="Leave">Leave</option>
                        <option value="Vacation">Vacation</option>
                        <option value="L3 day">L3 Day</option>
                    <%} else if(req.session.admin == 'Y'){%>
                        <option value="HalfDay Leave">Half-Day Leave</option>
                        <option value="Leave">Leave</option>
                        <option value="Vacation">Vacation</option>
                        <option value="L3 day">L3 Day</option>
                    <%}%>
                    </select></br></br>
                    <input class="select" type="date" id="date" name="status" />
                    <p align="right"><button id="b_update" class="a-inside edit">Update</button></p>
        </td>
        <td valign="top" class="td-border" class="td-border">
                    <p>Start Date.</p>
                    <input class="select" type="date" id="s_status" name="status" /></br></br>
                    <p align="right"><button id="b_show" class="a-inside edit">Show</button></p>
        </td>
        <td valign="top" class="td-border">
            <p>Filter by</p>
            <select class="select" id="team" name="team">
                <option id="0">Any Team</option>

                <% for(var i = 0;i < teams.length;i++) { %>

                <option id="<%=teams[i].id%>"><%=teams[i].title%></option>
                <%}%>
            </select>

        </td>
    </tr>
    </tbody>
</table>
<table id="calendar" class="table_calendar"></table>

<form class="page-container" name="period_results">

</form>


<div class="contextMenu" id="myMenu1">
    <ul>
        <li id="day-hd-leave-na">Half-Day Leave(NA)</li>
        <li id="day-leave-na">Leave(NA)</li>
        <li id="day-vacation-na">Vacation(NA)</li>
        <li id="day-l3">L3 Day</li>
        <li id="day-l3-leave">L3 Leave</li>
        <% if(req.session.admin == 'SA'){ %>
        <li id="day-leave">Leave</li>
        <li id="day-hd-leave">Half-Day Leave</li>
        <li id="day-vacation">Vacation</li>
        <li id="delete"><img src="img/cross.png" />Delete</li>
        <%} else if(req.session.admin == 'Y'){ %>
        <li id="day-leave">Leave</li>
        <li id="day-hd-leave">Half-Day Leave</li>
        <li id="day-vacation">Vacation</li>
        <%}%>
    </ul>
</div>



</body>
<script>
    window.onload = function() {
        calendar();
    }
</script>
</html>