<%- include layouts/header.ejs %>

<head>
    <script type="text/javascript"  src="/js/users.js"></script>
</head>



<div class="page-data">
    <div class="data-table">
        <table id="users_tab" border="1" cellpadding="5" >
            <tr id="users_tab_title">

                <th>Name</th>
                <th>Surname</th>
                <th>Id</th>
                <th>Role</th>
                <th width=150px>Action</th>

            <% if(users.length){

                    for(var i = 0;i < users.length;i++) { %>

            <tr id="<%=users[i].id%>">

                <td class="td-border"><%=users[i].name%></td>
                <td class="td-border"><%=users[i].sname%></td>
                <td class="td-border"><%=users[i].pname%></td>
                <td class="td-border"><%=users[i].role%></td>
                <td class="td-border">
                    <% if(req.session.admin == 'Y'){ %>
                    <button id="edit_<%=users[i].id%>" class="a-inside edit">Edit</button>
                    <button id="delete_<%=users[i].id%>" class="a-inside delete">Delete</button>
                    <%}%>


                </td>
            </tr>
            <% }

            }else{ %>
            <tr>
                <td colspan="3">No user</td>
            </tr>
            <% } %>



        </table>
    </div>
    <div class="data-btn">
        <button id="addUser">+ Add</button>
    </div>
</div>
</body>
<script>
    window.onload = function() {
        users();
    }
</script>
</html>


